<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title>课程</title>
		<link rel="stylesheet" href="../assets/css/common.css" />
		<link rel="stylesheet" href="../assets/css/resouce.css" />
		<link rel="stylesheet" href="../assets/plug/select/slider.css" />
	</head>

	<body>
		<div class="tBox tBgColor">
			<div class="header wrap">
				<div class="in-left">
					<div class="logo">
						<h1>
							<a href="../index.html">
								天津市和平区区域教育优质资源库
							</a>
						</h1>
					</div>
				</div>
				<div class="in-right">
					<div class="in-left search">
						<input type="text" placeholder="" />
						<input type="button" class="searBtn" />
					</div>
					<a class="link">下载中心</a>
					<a class="link">注销</a>
				</div>
				<Div class="clear"></Div>
			</div>
			<!--导航-->
			<div class="topNav">
				<div class="wrap">
					<div class="nav in-left">
						<ul>
							<li>
								<a href="../index.html">首页</a>
							</li>
							<li>
								<a class="active">课程</a>
							</li>
							<li>
								<a>题库</a>
							</li>
							<!--<li>
								<a>小组</a>
							</li>-->
							<li>
								<a>我的课程</a>
							</li>
						</ul>
					</div>
					<div class="in-right welcome">
						<span>郭晓丽</span> 老师，下午好！
					</div>
					<div class="clear"></div>
				</div>
			</div>
			<!--banner-->
			<div class="banner">
				<div class="wrap">
					<div id="iFocus" style="margin:0 auto">
						<span class="erweim"></span>
						<ul>
							<li>
								<a><img src="../assets/images/slide3.jpg" /></a>
								<div class="li-right">
									<div class="title">九十中学进行和平教育协同办公系统培训</div>
									<div class="descript">2017年6月29日</div>
								</div>
							</li>
							<li>
								<a><img src="../assets/images/slide4.jpg" /></a>
								<div class="li-right">
									<div class="title">九十中学进行和平教育协同办公系统培训</div>
									<div class="descript">2017年6月29日</div>
								</div>
							</li>
							<li>
								<a><img src="../assets/images/zydttp.png" /></a>
								<div class="li-right">
									<div class="title">九十中学进行和平教育协同办公系统培训</div>
									<div class="descript">2017年6月29日</div>
								</div>
							</li>
							<li>
								<a><img src="../assets/images/b_backgroundC.png" /></a>
								<div class="li-right">
									<div class="title">九十中学进行和平教育协同办公系统培训</div>
									<div class="descript">2017年6月29日</div>
								</div>
							</li>
							<li>
								<a><img src="../assets/images/indexSlid.png" /></a>
								<div class="li-right">
									<div class="title">九十中学进行和平教育协同办公系统培训</div>
									<div class="descript">2017年6月29日</div>
								</div>
							</li>
						</ul>
						<div class="btnBg"></div>
						<div class="btn">
							<span>1</span><span>2</span><span>3</span><span>4</span><span>5</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--册别-->
		<div class="Booklet comTitle">
			<div class="wrap">
				<div class="in-left">
					<div class="in-left"><em class="sign"></em>当前册别：八年级英语（上）</div>
					<div class="choise-book in-left">
						<div id="dd" class="wrapper-dropdown-3" tabindex="1">
							<span>Unit 1 How often do you express?</span>
							<div class="slideToggle">
								<div class="choseList">
									<div class="second-navi">
										<table>
											<tbody>
												<tr>
													<td class="first">学段：</td>
													<td>
														<ul>
															<li onclick="addNavCls(this)">
																<a class="active" title="幼小衔接">幼小衔接</a>
															</li>
															<li onclick="addNavCls(this)">
																<a title="小学">小学</a>
															</li>
															<li onclick="addNavCls(this)">
																<a title="初中">初中</a>
															</li>
															<li onclick="addNavCls(this)">
																<a title="高中">高中</a>
															</li>
														</ul>
													</td>
												</tr>
												<tr>
													<td class="first">学科：</td>
													<td class="slideNav" page="1">
														<div class="img_l" onclick="left(this)"><img src="../assets/images/shangyiye.png" /></div>
														<div class="apply_nav">
															<div class="apply_w">
																<ul>
																	<li onclick="addNavCls(this)">
																		<a class="active" title="数学">数学</a>
																	</li>
																	<li onclick="addNavCls(this)">
																		<a title="语文">语文</a>
																	</li>
																	<li onclick="addNavCls(this)">
																		<a title="英语">英语</a>
																	</li>
																	<li onclick="addNavCls(this)">
																		<a title="物理">物理</a>
																	</li>
																	<li onclick="addNavCls(this)">
																		<a title="地理">地理</a>
																	</li>
															</div>
														</div>
														<div class="img_r" onclick="right(this)"><img src="../assets/images/xiayiye.png" /></div>
													</td>
												</tr>
												<tr>
													<td class="first">学校：</td>
													<td class="slideNav" page="1">
														<div class="img_l" onclick="left(this)"><img src="../assets/images/shangyiye.png" /></div>
														<div class="apply_nav">
															<div class="apply_w">
																<ul>
																	<li onclick="addNavCls(this)">
																		<a class="active" title="天津市二十二中学">二十二中学</a>
																	</li>
																	<li onclick="addNavCls(this)">
																		<a title="天津市第二南开中学">第二南开中学</a>
																	</li>
																	<li onclick="addNavCls(this)">
																		<a title="天津市第六十一中学">第六十一中学</a>
																	</li>
																	<li onclick="addNavCls(this)">
																		<a title="天津市第十九中学">第十九中学</a>
																	</li>
																</ul>
															</div>
														</div>
														<div class="img_r" onclick="right(this)"><img src="../assets/images/xiayiye.png" /></div>
													</td>
												</tr>

											</tbody>
										</table>
									</div>
								</div>
								<div class="">
									<div class="top">
										<div class="grade-chose">
											<div class="slider">
												<ul>
													<li>
														<p>
															<a href="#">八年级上册</a>
														</p>
													</li>
													<li>
														<p>
															<a href="#">八年级下册</a>
														</p>
													</li>
													<li>
														<p>
															<a href="#">七年级下册</a>
														</p>
													</li>
													<li>
														<p>
															<a href="#">七年级上册</a>
														</p>
													</li>
												</ul>
												<div class="control">
													<a href="javascript:void(0)" class="next"></a>
													<a href="javascript:void(0)" class="prev"></a>
												</div>
											</div>

										</div>
										<div class="textRight">
											<label><input type="checkbox" />
											全选</label>
										</div>
									</div>
									<ul class="dropdown">
										<li>
											<a href="#"><i class="icon-envelope icon-large"></i>Unit 1 How often do you express?</a>
										</li>
										<li>
											<a href="#"><i class="icon-truck icon-large"></i>Unit 2 What the matter?</a>
										</li>
										<li>
											<a href="#"><i class="icon-plane icon-large"></i>Unit 3 language in use</a>
										</li>
									</ul>
								</div>

							</div>
						</div>
					</div>
				</div>
				<div class="in-right chose-Sort">
					<a class="active">最新</a>
					<a>最热</a>
					<a>推荐</a>
				</div>
				<Div class="clear"></Div>
			</div>
		</div>
		<!--视频列表-->
		<div class="wrap">
			<!--导航-->
			<div class="in-left">
				<div class="leftnav  navbar-wrapper">
					<span class="navTitle">课时<br>进度</span>
					<ul>
						<li class="item active" onclick="curNav(this)">
							<a>
								<span>Unit 01</span>
								<em></em>
							</a>
							<ul>
								<li onclick="curNav(this)">
									<a>period 1</a>
								</li>
								<li onclick="curNav(this)">
									<a>period 2</a>
								</li>
								<li onclick="curNav(this)">
									<a>period 3</a>
								</li>
								<li onclick="curNav(this)">
									<a>period 4</a>
								</li>
								<li onclick="curNav(this)">
									<a>period 5</a>
								</li>
							</ul>
						</li>
						<li class="item" onclick="curNav(this)">
							<a>
								<span>Unit 02</span>
								<em></em>
							</a>
							<ul>
								<li onclick="curNav(this)">
									<a>period 1</a>
								</li>
								<li onclick="curNav(this)">
									<a>period 2</a>
								</li>
								<li onclick="curNav(this)">
									<a>period 3</a>
								</li>
								<li onclick="curNav(this)">
									<a>period 4</a>
								</li>
							</ul>
						</li>
						<li class="item" onclick="curNav(this)">
							<a>
								<span>Unit 03</span>
								<em></em>
							</a>
							<ul>
								<li onclick="curNav(this)">
									<a>period 1</a>
								</li onclick="curNav(this)">
								<li>
									<a>period 2</a>
								</li onclick="curNav(this)">
								<li>
									<a>period 3</a>
								</li onclick="curNav(this)">
								<li onclick="curNav(this)">
									<a>period 4</a>
								</li>
							</ul>
						</li>
						<li class="item" onclick="curNav(this)">
							<a>
								<span>Unit 04</span>
								<em></em>
							</a>
						</li>
						<li class="item" onclick="curNav(this)">
							<a>
								<span>Unit 05</span>
								<em></em>
							</a>
						</li>
					</ul>
					<span class="point bottom"></span>
				</div>
			</div>
			<div class="video-list in-right">
				<ul>
					<li class="in-left">
						<Div class="top">
							<a href="video2.html" onclick="setstorage(this)" clarity="../assets/plug/video/videos/1443432233175.mp4">
								<img src="../assets/images/resoucevideo/01.png">
								<span class="icon iconfont">&#xe612;</span>
							</a>
						</Div>
						<div class="bottom">
							<p class="data">
								<span class="in-left">
										发布日期
										<em>2015-10-14 </em>
									</span>
								<span class="in-right">微课程</span>
							</p>
							<p class="video-title">
								Unit 2 My home town and my country
							</p>
							<p class="Speaker">
								<em>刘洪晶</em> <span>天津第二南开学校</span>
							</p>
							<input type="hidden" class="zhangjie" value="Module 2 My home town and my country" />
							<input type="hidden" class="playtime" value="09:43"  />
						</div>
						<div class="numList">
							<a><em class="icon iconfont">&#xe63d;</em>8.9万</a>
							<a><em class="icon iconfont">&#xe601;</em>398条</a>
							<a><em class="icon iconfont">&#xe86f;</em>6.4万</a>
							<a>07:44</a>
						</div>
					</li>
					<li class="in-left">
						<Div class="top">
							<a href="video2.html" onclick="setstorage(this)" clarity="../assets/plug/video/videos/1443428338207.mp4">
								<img src="../assets/images/resoucevideo/02.png">
								<span class="icon iconfont">&#xe612;</span>
							</a>
						</Div>
						<div class="bottom">
							<p class="data">
								<span class="in-left">
										发布日期
										<em>2015-09-28</em>
									</span>
								<span class="in-right">微课程</span>
							</p>
							<p class="video-title">
								Uint 3 language in use
							</p>
							<p class="Speaker">
								<em>钱晓玲</em> <span>天津市第二南开中学</span>
							</p>
							<input type="hidden" class="zhangjie" value="Module 3 Sports" />
							<input type="hidden" class="playtime" value="08:46"  />
					
						</div>
						<div class="numList">
							<a><em class="icon iconfont">&#xe63d;</em>8.9万</a>
							<a><em class="icon iconfont">&#xe601;</em>398条</a>
							<a><em class="icon iconfont">&#xe86f;</em>6.4万</a>
							<a>08:46</a>
						</div>
					</li>
					<li class="in-left">
						<Div class="top">
							<a href="video2.html" onclick="setstorage(this)" clarity="../assets/plug/video/videos/1444877443043.mp4">
								<img src="../assets/images/resoucevideo/11.png">
								<span class="icon iconfont">&#xe612;</span>
							</a>
						</Div>
						<div class="bottom">
							<p class="data">
								<span class="in-left">
										发布日期
										<em>2015-10-15 </em>
									</span>
								<span class="in-right">微课程</span>
							</p>
							<p class="video-title">
								Unit 3 Language in use
							</p>
							<p class="Speaker">
								<em>郭晓莉</em> <span>天津市第十一中学</span>
							</p>
							<input type="hidden" class="zhangjie" value="Unit 3 Language in use" />
							<input type="hidden" class="playtime" value="08:15"  />

						</div>
						<div class="numList">
							<a><em class="icon iconfont">&#xe63d;</em>8.9万</a>
							<a><em class="icon iconfont">&#xe601;</em>398条</a>
							<a><em class="icon iconfont">&#xe86f;</em>6.4万</a>
							<a>08:16</a>
						</div>
					</li>
					<li class="in-left">
						<Div class="top">
							<a href="video2.html" onclick="setstorage(this)" clarity="../assets/plug/video/videos/1444365984912.mp4">
								<img src="../assets/images/resoucevideo/03.png">
								<span class="icon iconfont">&#xe612;</span>
							</a>
						</Div>
						<div class="bottom">
							<p class="data">
								<span class="in-left">
										发布日期
										<em>2015-10-09 </em>
									</span>
								<span class="in-right">微课程</span>
							</p>
							<p class="video-title">
								Module 9 population
							</p>
							<p class="Speaker">
								<em>程莉华</em> <span>天津市第二十一中学</span>
							</p>
							<input type="hidden" class="zhangjie" value="Module 9 Population" />
							<input type="hidden" class="playtime" value="06:40"  />

						</div>
						<div class="numList">
							<a><em class="icon iconfont">&#xe63d;</em>8.9万</a>
							<a><em class="icon iconfont">&#xe601;</em>398条</a>
							<a><em class="icon iconfont">&#xe86f;</em>6.4万</a>
							<a>09:24</a>
						</div>
					</li>
					<li class="in-left">
						<Div class="top">
							<a href="video2.html" onclick="setstorage(this)" clarity="../assets/plug/video/videos/1444718640672.mp4">
								<img src="../assets/images/resoucevideo/04.png">
								<span class="icon iconfont">&#xe612;</span>
							</a>
						</Div>
						<div class="bottom">
							<p class="data">
								<span class="in-left">
										发布日期
										<em>2015-10-13</em>
									</span>
								<span class="in-right">微课程</span>
							</p>
							<p class="video-title">
								形容词比较级和最高级的变化
							</p>
							<p class="Speaker">
								<em>王建慧</em> <span>天津市第二十一中学  </span>
							</p>
							<input type="hidden" class="zhangjie" value="Module 4 Planes, Ships and trains" />
							<input type="hidden" class="playtime" value="05:56"  />

						</div>
						<div class="numList">
							<a><em class="icon iconfont">&#xe63d;</em>8.9万</a>
							<a><em class="icon iconfont">&#xe601;</em>398条</a>
							<a><em class="icon iconfont">&#xe86f;</em>6.4万</a>
							<a>07:27</a>
						</div>
					</li>
					<li class="in-left">
						<Div class="top">
							<a href="video2.html" onclick="setstorage(this)" clarity="../assets/plug/video/videos/1444817852474.mp4">
								<img src="../assets/images/resoucevideo/05.png">
								<span class="icon iconfont">&#xe612;</span>
							</a>
						</Div>
						<div class="bottom">
							<p class="data">
								<span class="in-left">
										发布日期
										<em>2015-10-14</em>
									</span>
								<span class="in-right">微课程</span>
							</p>
							<p class="video-title">
								Vocabulary Grammar Sentences
							</p>
							<p class="Speaker">
								<em>李欣</em> <span>天津市第十九中学</span>
							</p>
							<input type="hidden" class="zhangjie" value="Module 2 My home town and my country" />
							<input type="hidden" class="playtime" value="06:21"  />

						</div>
						<div class="numList">
							<a><em class="icon iconfont">&#xe63d;</em>8.9万</a>
							<a><em class="icon iconfont">&#xe601;</em>398条</a>
							<a><em class="icon iconfont">&#xe86f;</em>6.4万</a>
							<a>05:28</a>
						</div>
					</li>
					<li class="in-left">
						<Div class="top">
							<a href="video2.html" onclick="setstorage(this)" clarity="../assets/plug/video/videos/1443154736547.mp4">
								<img src="../assets/images/resoucevideo/06.png">
								<span class="icon iconfont">&#xe612;</span>
							</a>
						</Div>
						<div class="bottom">
							<p class="data">
								<span class="in-left">
										发布日期
										<em>2015-09-25</em>
									</span>
								<span class="in-right">微课程</span>
							</p>
							<p class="video-title">
								Animals in danger
							</p>
							<p class="Speaker">
								<em>于涵 </em> <span>天津市汇文中学</span>
							</p>
							<input type="hidden" class="zhangjie" value="Module 10 The weather" />
							<input type="hidden" class="playtime" value="07:42"  />

						</div>
						<div class="numList">
							<a><em class="icon iconfont">&#xe63d;</em>8.9万</a>
							<a><em class="icon iconfont">&#xe601;</em>398条</a>
							<a><em class="icon iconfont">&#xe86f;</em>6.4万</a>
							<a>06:53</a>
						</div>
					</li>
					<li class="in-left">
						<Div class="top">
							<a href="video2.html" onclick="setstorage(this)" clarity="../assets/plug/video/videos/1444613665215.mp4">
								<img src="../assets/images/resoucevideo/07.png">
								<span class="icon iconfont">&#xe612;</span>
							</a>
						</Div>
						<div class="bottom">
							<p class="data">
								<span class="in-left">
										发布日期
										<em>2015-10-12</em>
									</span>
								<span class="in-right">微课程</span>
							</p>
							<p class="video-title">
								The WWF is working hard to save them all.
							</p>
							<p class="Speaker">
								<em>梁立</em> <span>天津市十一中学</span>
							</p>
							<input type="hidden" class="zhangjie" value="Unit 2 The WWF is working hard to save them all." />
							<input type="hidden" class="playtime" value="07:18"  />

						</div>
						<div class="numList">
							<a><em class="icon iconfont">&#xe63d;</em>8.9万</a>
							<a><em class="icon iconfont">&#xe601;</em>398条</a>
							<a><em class="icon iconfont">&#xe86f;</em>6.4万</a>
							<a>07:16</a>
						</div>
					</li>
					<li class="in-left">
						<Div class="top">
							<a href="video2.html" onclick="setstorage(this)" clarity="../assets/plug/video/videos/1448590493812.mp4">
								<img src="../assets/images/resoucevideo/08.png">
								<span class="icon iconfont">&#xe612;</span>
							</a>
						</Div>
						<div class="bottom">
							<p class="data">
								<span class="in-left">
										发布日期
										<em>2015-11-27</em>
									</span>
								<span class="in-right">微课程</span>
							</p>
							<p class="video-title">
								过去进行时讲解
							</p>
							<p class="Speaker">
								<em>李跃彦</em> <span>天津市和平艺术中学</span>
							</p>
							<input type="hidden" class="zhangjie" value="Unit 1 Alice was sitting with her sister by the river.  " />
							<input type="hidden" class="playtime" value="09:01"  />

						</div>
						<div class="numList">
							<a><em class="icon iconfont">&#xe63d;</em>8.9万</a>
							<a><em class="icon iconfont">&#xe601;</em>398条</a>
							<a><em class="icon iconfont">&#xe86f;</em>6.4万</a>
							<a>07:27</a>
						</div>
					</li>
					<li class="in-left">
						<Div class="top">
							<a href="video2.html" onclick="setstorage(this)" clarity="../assets/plug/video/videos/1442912046995.mp4">
								<img src="../assets/images/resoucevideo/09.png">
								<span class="icon iconfont">&#xe612;</span>
							</a>
						</Div>
						<div class="bottom">
							<p class="data">
								<span class="in-left">
										发布日期
										<em>2015-10-14</em>
									</span>
								<span class="in-right">课堂实录</span>
							</p>
							<p class="video-title">
								Grammar
							</p>
							<p class="Speaker">
								<em>李建中</em> <span>天津市第二十一中学</span>
							</p>
							<input type="hidden" class="zhangjie" value="Unit 1 I wanted to see the Beijing Opera." />
							<input type="hidden" class="playtime" value="07:17"  />

						</div>
						<div class="numList">
							<a><em class="icon iconfont">&#xe63d;</em>8.9万</a>
							<a><em class="icon iconfont">&#xe601;</em>398条</a>
							<a><em class="icon iconfont">&#xe86f;</em>6.4万</a>
							<a>41:17</a>
						</div>
					</li>
					<li class="in-left">
						<Div class="top">
							<a href="video2.html" onclick="setstorage(this)" clarity="../assets/plug/video/videos/1444466167912.mp4">
								<img src="../assets/images/resoucevideo/10.png">
								<span class="icon iconfont">&#xe612;</span>
							</a>
						</Div>
						<div class="bottom">
							<p class="data">
								<span class="in-left">
										发布日期
										<em>2015-10-10</em>
									</span>
								<span class="in-right">课堂实录</span>
							</p>
							<p class="video-title">
								Module 9 Population
							</p>
							<p class="Speaker">
								<em>刘敏</em> <span>天津市第九十中学 </span>
							</p>
							<input type="hidden" class="zhangjie" value="Unit 1 The population of China is about 1.37 billion.  " />
							<input type="hidden" class="playtime" value="09:56"  />

						</div>
						<div class="numList">
							<a><em class="icon iconfont">&#xe63d;</em>8.9万</a>
							<a><em class="icon iconfont">&#xe601;</em>398条</a>
							<a><em class="icon iconfont">&#xe86f;</em>6.4万</a>
							<a>47:46</a>
						</div>
					</li>
					
					<li class="in-left">
						<Div class="top">
							<a href="video2.html" onclick="setstorage(this)" clarity="../assets/plug/video/videos/1444900950832.mp4">
								<img src="../assets/images/resoucevideo/12.png">
								<span class="icon iconfont">&#xe612;</span>
							</a>
						</Div>
						<div class="bottom">
							<p class="data">
								<span class="in-left">
										发布日期
										<em>2015-10-15</em>
									</span>
								<span class="in-right">微课程</span>
							</p>
							<p class="video-title">
								He lives the farthest from school
							</p>
							<p class="Speaker">
								<em>黄静</em> <span>天津市和平区双菱中学</span>
							</p>
							<input type="hidden" class="zhangjie" value="Unit 1 He lives the farthest from school.  " />
							<input type="hidden" class="playtime" value="07:37"  />

						</div>
						<div class="numList">
							<a><em class="icon iconfont">&#xe63d;</em>8.9万</a>
							<a><em class="icon iconfont">&#xe601;</em>398条</a>
							<a><em class="icon iconfont">&#xe86f;</em>6.4万</a>
							<a>06:38</a>
						</div>
					</li>
					<div class="clear"></div>
				</ul>
				<div class="pages textcenter">
					<button class="prev"><</button>
					<button class="active">1</button>
					<button>2</button>
					<button>3</button>
					<button class="next">></button>
				</div>
			</div>
			<div class="clear"></div>
		</div>
		<!--名师榜单-->
		<div class="Teacher-list comTitle">
			<div class="wrap">
				<div class="in-left"><em class="sign"></em>学科名师榜单</div>
				<div class="in-right more">
					<a>更多名师>></a>
				</div>
				<div class="clear"></div>
			</div>
		</div>

		<div class="showlist tBgColor">
			<div class="wrap">
				<ul>
					<li class="in-left">
						<div class="teacher-head">
							<img src="../assets/images/teacher/01.png">
						</div>
						<div class="teacher-body">
							<p class="name textcenter">
								刘妍
							</p>
							<p class="textLeft">中学英语教师</p>
							<p class="textRight">天津市第二十中学</p>
						</div>
					</li>
					<li class="in-left">
						<div class="teacher-head">
							<img src="../assets/images/teacher/02.png">
						</div>
						<div class="teacher-body">
							<p class="name textcenter">
								薛志强
							</p>
							<p class="textLeft">小学英语教师</p>
							<p class="textRight">鞍山道小学 </p>
						</div>
					</li>
					<li class="in-left">
						<div class="teacher-head">
							<img src="../assets/images/teacher/03.png">
						</div>
						<div class="teacher-body">
							<p class="name textcenter">
								马金霞
							</p>
							<p class="textLeft">初中英语教师</p>
							<p class="textRight">天津市第十一中学</p>
						</div>
					</li>
					<li class="in-left">
						<div class="teacher-head">
							<img src="../assets/images/teacher/04.png">
						</div>
						<div class="teacher-body">
							<p class="name textcenter">
								曹畅
							</p>
							<p class="textLeft">小学英语教师</p>
							<p class="textRight">天津市万全小学</p>
						</div>
					</li>
					<li class="in-left">
						<div class="teacher-head">
							<img src="../assets/images/teacher/05.png">
						</div>
						<div class="teacher-body">
							<p class="name textcenter">
								仇晓凯
							</p>
							<p class="textLeft">中学英语教师</p>
							<p class="textRight">天津市第二十一中学</p>
						</div>
					</li>
					<li class="in-left">
						<div class="teacher-head">
							<img src="../assets/images/teacher/06.png">
						</div>
						<div class="teacher-body">
							<p class="name textcenter">
								么荣耀
							</p>
							<p class="textLeft">小学英语教师</p>
							<p class="textRight">天津市中心小学</p>
						</div>
					</li>
					<li class="in-left">
						<div class="teacher-head">
							<img src="../assets/images/teacher/07.png">
						</div>
						<div class="teacher-body">
							<p class="name textcenter">
								孙广彬
							</p>
							<p class="textLeft">英语学科教学主任</p>
							<p class="textRight">天津市实验小学</p>
						</div>
					</li>
					<li class="in-left">
						<div class="teacher-head">
							<img src="../assets/images/teacher/08.png">
						</div>
						<div class="teacher-body">
							<p class="name textcenter">
								李子颐
							</p>
							<p class="textLeft">小学英语教师</p>
							<p class="textRight">天津市岳阳道小学</p>
						</div>
					</li>

					<div class="clear"></div>
				</ul>
			</div>
		</div>
		<div class="footer textcenter">
			技术支持：金硕集团 津 ICP备11005453号-2
		</div>
		<script src="../assets/js/jquery-1.11.1.js"></script>
		<script src="../assets/plug/slider/js/jquery.SuperSlide.2.1.js"></script>
		<script src="../assets/plug/select.js"></script>
		<script src="../assets/plug/jquery.nicescroll.js"></script>
		<script src="../assets/plug/stickUp.min.js"></script>
		<script type="text/javascript" src="../assets/plug/select/lens-slider.js"></script>
		<script type="text/javascript">
			$(document).ready(function() {
				var screen = $(".second-navi").width();
				var slideNav = $('.second-navi').find('.slideNav');
				for(var j = 0; j < slideNav.length; j++) {
					var $li1 = slideNav.eq(j).find(".apply_nav").find('.apply_w').find('li');
					var $window1 = slideNav.eq(j).find(".apply_nav").find(".apply_w");
					var $left1 = slideNav.eq(j).find(".img_l");
					var $right1 = slideNav.eq(j).find(".img_r");
					var page = 1; //初始化当前的版面为1
					var winWidth = 0;
					for(var i = 0; i < $li1.length; i++) {
						winWidth += $li1.eq(i).width() + 10;
					}
					$window1.css("width", winWidth);

					if($window1.width() <= 360) {
						$left1.css("display", "none");
						$right1.css("display", "none");
					}
					var rc1 = $li1.length / 4;

					var page_count = Math.ceil(rc1);
					slideNav.eq(j).attr('pagecount', page_count);
					var divLeft = $window1.css("left");
					if(divLeft == "0px") {
						$left1.css("display", "none");
					} else {
						$left1.css("display", "block");
					}
				}
				/*导航固定*/
				var fixedTop = $('.Teacher-list').offset().top;
				var documentH = $(document).height(); 
				var windowH = $(window).height();   
				var TeacherH = $('.Teacher-list').height();
				var showH = $('.showlist').height();
				var footerH = $('.footer').height();
				var navH = $('.navbar-wrapper').outerHeight(true)+100;
				var bottomH = TeacherH+showH+footerH;
				$(window).scroll(function() {
					var scroolTop = $(document).scrollTop();
					if((navH+bottomH)>windowH){
						if((documentH-scroolTop)<(navH+bottomH)){
						 		$('.navbar-wrapper').css({'position':'absolute','top':(documentH-bottomH-navH)});
						}
						/*if(scroolTop>=(fixedTop-windowH+120)){
						 		$('.navbar-wrapper').css({'position':'absolute','top':(documentH-bottomH-navH-120)});
						}*/
					}
					 
				});
				


				jQuery("#iFocus").slide({
					titCell: ".btn span",
					mainCell: "ul",
					effect: "left",
					autoPlay: true
				});
				$('.leftnav .item').hover(function() {
					$(this).find('ul').show();
					var height = $(this).find('ul').height()/2+10;
					$(this).find('ul').css('margin-top',-height+'px');
				}, function() {
					$(this).find('ul').hide();
				});
			});
			jQuery(function($) {
				$(document).ready(function() {
					$('.navbar-wrapper').stickUp();
				});
			});
			function addNavCls(obj){
	if($(obj).find('a').hasClass('active')){
		
	}else{
		$(obj).find('a').addClass('active');
		$(obj).siblings().find('a').removeClass('active');
	}
	
}
			//当前册别
			function checkbook(obj) {
				var value = $(obj).text();
				$(obj).parent().parent().prev('button').find('em').text(value);
			}

			function curNav(obj) {
				$(obj).addClass('active').siblings().removeClass('active');
				$(obj).siblings().find('li').removeClass('active');
			}

			function left(obj) {
				var widthnum = "355px";
				var wrap = $(obj).parent();
				var page_count = wrap.attr('pagecount');
				var rc1 = page_count;
				var page = $(obj).parent().attr('page');
				if(page != 1) {
					page--;
				}

				$(obj).parent().attr('page', page);

				if(page < 1) {
					return;
				}
				nav(wrap, page, page_count);
				$(obj).parent().find(".apply_nav").find(".apply_w").animate({
					left: '+=' + widthnum + ''
				}, 1000);
			}

			function right(obj) {
				var widthnum = "355px";
				var wrap = $(obj).parent();
				var page_count = wrap.attr('pagecount');
				var page = $(obj).parent().attr('page');
				if(page < page_count) {
					page++;
				}

				$(obj).parent().attr('page', page);

				if(page > page_count) {
					alert(34)
					return;
				}
				nav(wrap, page, page_count);
				$(obj).parent().find(".apply_nav").find(".apply_w").animate({
					left: '-=' + widthnum + ''
				}, 1000);
			}

			function nav(obj, page, page_count) {
				if(page == 1) {
					obj.find(".img_l").hide().siblings(".img_r").show();
				} else if(page == page_count) {
					obj.find(".img_r").hide().siblings(".img_l").show();
				} else {
					obj.find(".img_l").show().siblings(".img_r").show();
				}
			}
			function addNavCls(obj) {
				$(obj).siblings().find('a').removeClass('active');
				$(obj).find('a').addClass('active');
				
			}
			function setstorage(obj){
				var clarity = $(obj).attr('clarity');
				var title = $(obj).parent().next().find('.video-title').text();
				var img = $(obj).find('img').attr('src');
				var fbtime = $(obj).parent().next().find('.data').find('em').text();
				var teacher = $(obj).parent().next().find('.Speaker').find('em').text();
				var schoolname = $(obj).parent().next().find('.Speaker').find('span').text();
				var zhangjie = $(obj).parent().next().find('.zhangjie').val();
				var playtime = $(obj).parent().next().find('.playtime').val();
				if (window.localStorage) {
					 localStorage.setItem("clarity", clarity);	
					 localStorage.setItem("title", title);	
					 localStorage.setItem("img", img);	
					 localStorage.setItem("fbtime", fbtime);	
					 localStorage.setItem("teacher", teacher);	
					 localStorage.setItem("schoolname", schoolname);	
					 localStorage.setItem("zhangjie", zhangjie);	
					 localStorage.setItem("playtime", playtime);	
				}
			}
		</script>
	</body>

</html>